*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main .close-btn{
    float: right;
    margin: 2rem 2rem 0 0;
}
.main .close-btn img{
    font-size: 50px;
}
nav{
    width: 75%;
    height: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10% 20%;
    position: absolute;
    display: flex;
    align-items: center;
}

nav .left-nav{
    display: flex;
    flex-basis:50% ;
}
nav .left-nav p{
    transform-origin: 50px 35px;
    transform: rotate(270deg);
    font-size: 24px; 
    z-index: -1; 
}

nav .left-nav .menu-co a{
    text-decoration: none;
    color: black;
    font-size: 64px;
    font-weight: bold;
    font-family: 'League Spartan', sans-serif;
}
nav .right-nav{
    margin-left: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 24px;
    line-height: 1.5;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: flex-end;
}
@media screen and (max-width: 499px){
    nav{
        display: block;
    }
    nav {
        width: 75%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 10% 0%;
        position: absolute;
        display: flex;
        align-items: center;
    }
    .main .close-btn{
        float: right;
        margin: 1rem 1rem 0 0;
    }
    .main .close-btn p{
        font-size: 25px;
    }
    nav .right-nav{
        position: relative;
        left: 0;
    }
    nav .left-nav {
        display: flex;
        z-index: 3;
    }
    nav .left-nav p{
        left: -3rem;
    }
    nav .menu-content{
        margin-left: -4rem;
    }
    .main .close-btn{
        margin-right: 2rem;
    }
    nav .right-nav {
        margin-top: 100%;
        margin-left: -100%;
        font-size: 24px;
        line-height: 1.5;
        flex-direction: column;
        
    }
}